* {
    padding: 0%;
    margin: 0%;
}

#bio {
    text-align: center;
    padding: 1%;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #5fe99f;
    display: inline-block;
}

a:hover  {
    background-color: #008b41;
}

h1, h3 {
    padding: 4px;
}

table {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.head {
    color: white;
    background-color: #008b41;
}

.table {
    border-bottom: 3px solid #008b41;
    font-size: 25px;
}

tr {
    height: 70px;
}

.trow:hover {
    background-color: #ede5e1;
    color: #008b41;
}

p {
    text-align: center;
    background-color: white;
}